{% extends 'base.html' %} {% load static %} {% block content %}
<!-- prettier-ignore -->
<form
  id="contact-form"
  class="row contact-form no-gutter"
  style="padding: 2rem 2rem 2rem 2rem"
  action="{% url 'update' AoC_id=ArticleOfClothing.id  %}"
  method="POST"
>
<input style="width: 250px" type="hidden" id="clothing_name" name="clothing_name" value={{ ArticleOfClothing.id }}>
  <div class="col-xs-12 col-sm-6">
    <div class="input-field name">
      <span class="input-icon" id="clothing_name">Title</span>
      <input
        type="text"
        class="form-control"
        id="clothing_name"
        placeholder="Clothing Name"
        value="{{ ArticleOfClothing.clothing_name }}"
        autofocus
        required
      />
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="input-field email">
      <span class="input-icon" id="price">$</span>
      <input
        type="text"
        class="form-control"
        name="price"
        id="price"
        placeholder="Price"
        value={{ ArticleOfClothing.price }}
        required
      />
    </div>
  </div>
  <!-- ./col- -->
  <div class="col-xs-12 col-sm-6">
    <div class="input-field name">
      <span class="input-icon" id="material">Mats</span>
      <select class="form-control" name="material" id="material" required>
        <option value="{{ ArticleOfClothing.material }}" selected>{{ ArticleOfClothing.material }}</option>
        <option value="">Choose Material Type</option>
        {% for lstMaterials in lstMaterials%}
        <option value="{{ lstMaterials }}">{{ lstMaterials }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="input-field email">
      <span class="input-icon" id="category">Cat</span>
      <select class="form-control" name="category" id="category" required>
        <option value="{{ ArticleOfClothing.category }}" selected>{{ ArticleOfClothing.category }}</option>
        <option value="">Choose Category</option>
        {% for lstCategory in lstCategory%}
        <option value="{{ lstCategory }}">{{ lstCategory }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <!-- ./col- -->
  <div class="col-xs-12 col-sm-6">
    <div class="input-field name">
      <span class="input-icon" id="size">Size</span>
      <select class="form-control" name="size" id="size" required>
        <option value="{{ ArticleOfClothing.size }}" selected>{{ ArticleOfClothing.size }}</option>
        <option value="">Size</option>
        {% for lstSize in lstSize%}
        <option value="{{ lstSize }}">{{ lstSize }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <!-- ./col- -->
  <div class="col-xs-12 col-sm-6">
    <div class="input-field name">
      <span class="input-icon" id="pColor">Clr</span>
      <input
        type="text"
        class="form-control"
        name="pColor"
        id="pColor"
        value="{{ ArticleOfClothing.primarycolor }}"
        placeholder="Primary Color"
        required
      />
    </div>
  </div>
  <!-- ./col- -->
  <div class="col-xs-12 col-sm-6">
    <div class="input-field name">
      <span class="btn-border">
        <button
          type="submit"
          class="btn btn-primary btn-custom-border text-uppercase"
          {% comment %} onclick="alert('Update successfully!');" {% endcomment %}
        >
          Update
        </button>
      </span>
    </div>
    {% comment %} <div class="msg-success">Your t-shirt was added!</div>
    <div class="msg-failed">Something went wrong, please try again later</div> {% endcomment %}
  </div>
</div>
  <!-- ./col- -->
</form>
{%endblock%}
