{% extends 'base.html' %} {% load static %} {% block content %}
<p
  style="
    margin: auto;
    font-weight: bold;
    width: 50%;
    border: 2px solid white;
    padding: 10px;
  "
>
  Name: {{ ArticleOfClothing.clothing_name }} <br />
  Category: {{ ArticleOfClothing.category }} <br />
  Material: {{ ArticleOfClothing.material }} <br />
  Price: {{ ArticleOfClothing.price }} <br />
  Color: {{ ArticleOfClothing.primarycolor }} <br />
  Size: {{ ArticleOfClothing.size }} <br />
</p>
<div style="display: flex; justify-content: space-evenly">
  <a
    class="button"
    style="float: right"
    href="{% url 'edit' AoC_id = ArticleOfClothing.id%}"
    >Edit</a
  >
  <a class="button" style="float: right" href="{% url 'delete' ArticleOfClothingID = ArticleOfClothing.id%}">Delete</a>
</div>

{%endblock%}
